#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  /* padding: 2rem; */
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.widened {
  width: 100vw;
  max-width: 100%;
  flex: 1;
  flex-grow: 1;
  align-self: stretch;
  display: block;
}

.widened-vertical {
  width: 100vw;
  max-width: 100%;
  flex: 1;
  flex-grow: 1;
  align-self: stretch;
}

/* .bg-vstack {
  background: rgb(255, 140, 0, 0.2);
} */